/* You can add global styles to this file, and also import other style files */
.checkbox-slide input[type=checkbox]{
  opacity: 0;
}
.checkbox-slide label {
  width: 60px;
  height: 34px;
  position: relative;
  background: silver;
  border-radius: 20px;
  cursor: pointer;
}
.checkbox-slide label::after {
  content: "";
  background: #fff;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transition: all ease .4s;
  /* cursor: pointer; */
}

input[type=checkbox]:checked + label{
  background: #2196F3;
}

input[type=checkbox]:checked + label::after{
  left: 30px;
}
